<nav class="navigation">
  <a class="navigation__logo" href="{{ siteUrl }}">Soundcrate</a>

  <div class="navigation__links">
    <a href="{{ siteUrl }}">Home</a>
    <a href="{{ siteUrl('products') }}">Products</a>
    <a href="{{ siteUrl('login') }}">Login</a>
    <a class="cartLink" href="{{ siteUrl('cart') }}">
      <i class="fa-solid fa-cart-shopping"></i>
      <span class="cart-indicator"></span>
    </a>
  </div>
</nav>
